#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.user
*.userprefs
*.suo
*.log
*.cache
_ReSharper*/
[Tt]est[Rr]esult*
.DS_Store
Package.txt
[Pp]ackages/
Examples/**/[Bb]in/*
Examples/**/[Oo]bj/*
DSoak/CommSub/bin/Debug/CommSub.dll
DSoak/CommSub/bin/Debug/CommSub.pdb
DSoak/CommSub/bin/Debug/CommandLine.dll
DSoak/CommSub/bin/Debug/Messages.dll
DSoak/CommSub/bin/Debug/Messages.pdb
DSoak/CommSub/bin/Debug/SharedObjects.dll
DSoak/CommSub/bin/Debug/SharedObjects.pdb
DSoak/CommSub/bin/Debug/Utils.dll
DSoak/CommSub/bin/Debug/Utils.pdb
DSoak/CommSub/bin/Debug/log4net.dll
DSoak/CommSub/obj/Debug/CommSub.csproj.FileListAbsolute.txt
DSoak/CommSub/obj/Debug/CommSub.dll
DSoak/CommSub/obj/Debug/CommSub.pdb
DSoak/CommSub/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DSoak/CommSub/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DSoak/CommSub/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DSoak/GameManager/AppShared.pdb
DSoak/GameManager/CommSub.pdb
DSoak/GameManager/GameManager.pdb
DSoak/GameManager/Messages.pdb
DSoak/GameManager/SharedObjects.pdb
DSoak/GameManager/Utils.pdb